# Ignore node_modules (we copy deps via stages) and local env files
node_modules
.next
dist
build
.env
.env.local
.env.development
.env.test
.env.production
npm-debug.log
pnpm-lock.yaml
yarn.lock
__pycache__
.vscode
.git
